# Dependencias
node_modules/
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Archivos temporales
*.tmp
*.bak

# Docker
.dockerignore

python/.env